/* 
    Document   : styles
    Created on : Aug 2, 2010, 9:07:46 PM
    Author     : alde
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

